:root {
  /* Color */
  --background-block: #181b1f;
  --background-chat : #22272c;
  --controler-background-color: #29323b;

  --green-icon-color: #23c552;
  --red-icon-color: #f85031;

  --modal-box-color: #8eacbb;
  --modal-btn-color: #62ccff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #181b1f; */
  background-color: var(--background-block);
}

.container {
  width: 100%;
  height: 100%;
  
  background: #181b1f;
  
  display: flex;
  
  flex-direction: row;
  flex-wrap: wrap;
}

.user {
  width: 25%;
  height: 12em;
  
  flex: 1 1 calc(25% - 2px);
  
  margin: 2px;
  
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  
  background: #22272c;
}

.user-buttons {
  width: 50%;
  height: 50%;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-buttons .btn {
  text-decoration: none;
  outline: none;
  
  border: 1px solid rgba(0, 0, 0, .2);
  
  padding: 10px 10px 10px 10px;
  width: 4em;
  height: 4em;
  background-color: rgba(0, 0, 0, .2);
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
}

.user-buttons .btn i {
  color: #cccccc;
  font-size: 1.5em;
}

.user-buttons .btn:hover {
  background-color: rgba(0, 0, 0, .1);
  color: #d9d9d9;
}

.container-options {
  width: 100%;
  height: 6em;
  
  background: #29323b;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.options {
  width: 25%;
  height: 100%;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.options .btn {
  text-decoration: none;
  outline: none;
  
  border: 1px solid rgba(0, 0, 0, .2);
  
  padding: 10px 10px 10px 10px;
  width: 4em;
  height: 4em;
  background-color: rgba(0, 0, 0, .2);
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
}

.options .btn i {
  color: #cccccc;
  font-size: 1.5em;
}

.options .btn:hover {
  background-color: rgba(0, 0, 0, .1);
  color: #d9d9d9;
}